{# src/TV/Findyourband/Resources/views/Invitation/add.html.twig #}

{% extends "TVFindyourbandBundle::layout.html.twig" %}

{% block findyourband_body %}
    <div class="wrapper">
        <div class="container">
            <h2>Dans quel groupe voulez-vous inviter {{ receiver }}</h2>
            {{ form_start(form, {'attr': {'class': 'form'}}) }}

                {{ form_errors(form) }}
                
                <div class="form-1">
                    {{ form_label(form.band, "Groupe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.band, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                
                {{ form_widget(form.save, { 'label': 'Envoyer invitation' }) }}
                
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
