{# src/TV/Findyourband/Resources/views/Advert/edit.html.twig #}

{% extends "TVFindyourbandBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Modifier annonce
{% endblock %}

{% block findyourband_body %}
    <div class="wrapper">
        <div class="container">
            <h2>Modifier une annonce</h2>

            {{ form_start(form, {'attr': {'class': 'form'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                
                <div class="form-1">
                    {{ form_label(form.title, "Title", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2">
                    {{ form_label(form.instrument, "Instrument", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.instrument, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2last">
                    {{ form_label(form.genre, "Genre", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2 ">
                    {{ form_label(form.province, "Province", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2last">
                    {{ form_label(form.level, "Niveau", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                </div>
                {# Génération automatique des champs pas encore écrits.
                Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                et tous les champs cachés (type « hidden »). #}

                {{ form_widget(form.save, { 'label': 'Modifier annonce' }) }}
                
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        
        </div>
    </div>
{% endblock %}
