{# src/TV/Findyourband/Resources/views/Aside/filter.html.twig #}

    {{ form_start(form, {'attr': {'class': ''}}) }}

        {{ form_errors(form) }}

        <ul>
            {% if form.instrument is defined %}
                <li>
                {{ form_label(form.instrument, "Instrument:", {'label_attr': {'class': ''}}) }}
                {{ form_widget(form.instrument, {'attr': {'class': ''}}) }}
                </li>
            {% endif %}
            <li>
            {{ form_label(form.genre, "Genre:", {'label_attr': {'class': ''}}) }}
            {{ form_widget(form.genre, {'attr': {'class': ''}}) }}
            </li>
            <li>
            {{ form_label(form.province, "Région:", {'label_attr': {'class': ''}}) }}
            {{ form_widget(form.province, {'attr': {'class': ''}}) }}
            </li>
            <li>
            {{ form_label(form.level, "Niveau:", {'label_attr': {'class': ''}}) }}
            {{ form_widget(form.level, {'attr': {'class': ''}}) }}
            </li>
        </ul>
        {{ form_widget(form.save, { 'label': 'Appliquer filtres' }) }}

    {{ form_end(form) }}
