{# src/TV/User/Resources/views/Band/edit.html.twig #}

{% extends "TVFindyourbandBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Modifier groupe
{% endblock %}

{% block findyourband_body %}
    <div class="wrapper">
        <div class="container">
            <h2>Ajouter une annonce</h2>

            {{ form_start(form, {'attr': {'class': 'form'}}) }}

                {{ form_errors(form) }}
                
                <div class="form-1-2 last">
                    {{ form_label(form.genre, "Genre:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2">
                    {{ form_label(form.name, "Nom du groupe:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                 <div class="form-1-2 last">
                    {{ form_label(form.level, "Niveau:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2 ">
                    {{ form_label(form.province, "Province:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-1-2 ">
                    {{ form_label(form.video, "Url Vidéo Youtube", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.video, {'attr': {'class': 'form-control'}}) }}
                </div>
  
                <div class="form-group">
                    {{ form_label(form.content, "Description du groupe:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.save, { 'label': 'Modifier groupe' }) }}

            {{ form_end(form) }}
        
        </div>
    </div>
{% endblock %}
